





.colors {
    background: rgb(190, 139, 43);  
    background: rgb(223, 94, 66);
    border: 10px rgb(63, 63, 87) solid;
    border: 2px black solid;
    background: rgb(211, 171, 40);
    border: 10px rgba(255, 119, 0, 0.694);
    background: rgb(190, 139, 43);
    background: rgb(88, 87, 107);
    background: rgb(37, 103, 153);
    background: rgb(74, 137, 156);
    background: rgb(214, 26, 92);
    background: rgb(190, 139, 43);
    border: 10px black solid;
    border: 10px rgb(63, 63, 87) solid;
    background: rgb(231, 103, 5);
    background: rgb(241, 168, 41);
}
