html{
    height: 100%;
}
body{
    height:100%;
    margin: 0%;       
}

.layerBlackTop{
   height:34.7%;
   background: black;
   margin: 4%;
   display: flex; 
   flex-direction: column;/* it does not work if I skip it!   */
   justify-content:space-evenly;
   align-items:center;  
}

.redBoxContainer {  
    height: 35%;
    width:95%;
    background: rgb(63, 63, 87);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    top:2%;
   
}
 .redBox{
    background: rgb(223, 94, 66);
    height:33%;
    width: 15%;     
      
}

.redBoxMidle{
    background: rgb(223, 94, 66);
    height:33%;
    width: 60%;        
} 

.orangeBoxContainer{
    
    background:  rgba(255, 119, 0, 0.694);  
    height: 35%;   
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-2%;
   
}

.orangeBox{
    background: rgb(211, 171, 40);
    height:33%;
    width: 95%;
   
    
} 

.layerBlackMiddle{
    
   height:36.7%;
   background: black;
   margin-left: 4%;
   margin-right: 4%;
   display: flex; 
   justify-content: space-evenly;
   align-items: center;
    
}

 .leftBoxContainer{
    height: 77.77%;
    width:65%;
    background:rgb(88, 87, 107);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
 }

.blueBox{
    height: 13%;
    width:43%;
    background: rgb(37, 103, 153);
    
}
.lightBlueBox{
    background: rgb(74, 137, 156);
    height: 13%;
    width: 91%;
      
}

.rightBoxContainer{
    height: 77.77%;
    width:25%;
    background:rgb(214, 26, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.yelowBox{
    background: rgb(241, 218, 41);
    height: 13%;
    width: 80%;
    position: relative;
    top:11%;
    margin:3%;
   
    
}
 

.layerBlackBottom{

    height:12.25%;
    background: black;
    margin: 4%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}
.boxBottom{
    background: rgb(190, 139, 43);
    height:33%;
    width:95%;
}





 @media only screen and (max-width: 1023px) {

    
    .layerBlackTop{
        height:28.3%;
    } 

    .layerBlackMiddle{
        height: 48%;
        background: yellow;
        flex-direction: column;
    }
    .leftBoxContainer{
        height: 48.2%;
        width:95%;
        
    
     }
     .yelowBox{
        background: rgb(241, 218, 41);
        height: 22%;
        width: 90%;  
        top: 0%;
        margin: 1%;   
    }

     .rightBoxContainer{
        height: 31%;
        width:95%;
        justify-content: center;   
    }
   
 
    .layerBlackBottom{

        height:10%;
    }      
}

@media only screen and (max-width: 767px) {
 
    .layerBlackTop{
        height:33.76%;
    }  

    .redBoxContainer {  
        height: 53%;
        width:90%;
        position:static;
        flex-direction: column; 
    }
    .redBox{
        height:15.25%;
        width: 90%;    
    }
    
    .redBoxMidle{
        height:14.25%;
        width: 90%;        
    } 
    .orangeBoxContainer{ 
        height: 23%;   
        width: 90%;
        position:static;
    }

    .orangeBox{
        width: 90%;   
    } 

    .layerBlackMiddle{
        height: 48%;
    }


    .leftBoxContainer{
        height: 60%;
        width:90%;
        justify-content: space-around;     
    
     }
    
    .blueBox{
        height: 9%;
        width:91%;
    }
    
    .lightBlueBox{
        height: 9%;
        width: 91%;

    }

    .rightBoxContainer{
        height: 24.3%;
        width:90%;
        
    }

    .layerBlackBottom{
        height:7.8%;
    }
    
}